@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1980px;
    margin: 0 auto;
}

.promo {


    .header {
        header {
            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 16px;
                margin-bottom: 32px;

                span {
                    font-weight: 400;
                    font-size: 14px;
                }
            }

            .credits {
                .partnors {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 33px;

                    .partnors_item {

                        .partnors_item_box {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 12px;

                            span {
                                font-weight: 600;
                                font-size: 14px;

                                a {
                                    text-decoration: none;
                                    font-weight: 400;
                                    font-size: 13px;
                                }
                            }

                            p {
                                font-weight: 400;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            nav {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 42px;
                height: 44px;

                a {
                    text-decoration: none;
                    color: #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.teg {
    .box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 52px 0px 22px;


        .text {
            span {
                font-size: 17px;
                font-weight: 400;
                color: #bf4800;
            }

            p {
                font-weight: 600;
                font-size: 21px;
                line-height: 25px;
                margin-top: 8px;
                margin-bottom: 12px;
            }

            .two {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.224px;

                color: #1D1D1F;
            }

            h1 {
                font-size: 48px;
                line-height: 1.08349;
                font-weight: 600;
                letter-spacing: -.003em;
                color: #1d1d1f;
                padding-bottom: 8px;
            }
        }

        .text_two {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            flex-wrap: wrap;

            .text_item {
                background: #F5F5F7;
                border-radius: 18px;
                padding: 12px 16px;
                display: flex;
                align-items: center;
                gap: 3px;

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            .text_item:nth-child(2) {
                margin-top: 12px;
            }
        }
    }
}

.edition {

    .edition_content {
        display: flex;
    }

    .edition_photo {
        max-width: 1352px;
        position: sticky;
        top: 0;
        height: 100%;
    }
}

.sidebar {

    aside {
        max-width: 328px;
    }

    padding-left: 15px;


    .model_box {
        .model_item:nth-child(1) {
            margin-top: 20px;
        }

        .model_item {
            padding: 16px;
            width: 328px;
            height: 99.98px;
            background: rgba(255, 255, 255, 0.8);
            border: 1px solid #D2D2D7;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 14px;

            .model_item_elem {
                h3 {
                    font-weight: 600;
                    font-size: 17px;
                    margin-bottom: 5px;
                }

                span {
                    font-weight: 400;
                    font-size: 12px;
                }

                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            .model_item_elem:nth-child(2) {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
            }
        }

        .support_help {
            width: 328px;
            height: 99.98px;
            background: rgba(255, 255, 255, 0.8);
            border: 1px solid #D2D2D7;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 16px;

            .support_help_elem {
                h5 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }

                img {
                    width: 15px;
                    height: 15px;
                }
            }

        }
    }

    .model {
        margin-top: 300px;
        margin-bottom: 241px;

        span {
            font-weight: 600;
            font-size: 21px;

            span {
                color: #86868B;
            }
        }
    }

    .color {
        .color_box {
            .color_title {
                h3 {
                    font-weight: 600;
                    font-size: 21px;

                    span {
                        color: #86868B;
                    }

                    margin-bottom: 18px;
                }

                p {
                    font-weight: 600;
                    font-size: 17px;
                    margin-bottom: 36px
                }
            }

            .color_flex_box {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                margin-bottom: 26px;

                .color_blue {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background: #A6BBCB;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    cursor: pointer;
                }

                .color_purple {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background: #E5DDEA;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    cursor: pointer;
                }

                .color_yellow {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background: #FFF597;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    cursor: pointer;
                }

                .color_midnight {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background: #313840;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    cursor: pointer;
                }

                .color_starlight {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background: #FAF7F2;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    cursor: pointer;
                }

                .color_red {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background: #FA1636;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    cursor: pointer;
                }
            }

            .color_info_text {
                margin-bottom: 300px;

                span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            .storoge {
                h3 {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 28px;

                    span {
                        color: #86868B;
                    }

                    margin-bottom: 20px;
                }

                .storoge_box {
                    .storoge_item {
                        padding: 16px;
                        width: 328px;
                        height: 99.98px;
                        background: rgba(255, 255, 255, 0.8);
                        border: 1px solid #D2D2D7;
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 14px;
                    }

                    .storoge_item_elem {
                        h3 {
                            font-weight: 600;
                            font-size: 17px;
                            margin-bottom: 5px;
                        }

                        span {
                            font-weight: 400;
                            font-size: 12px;
                        }

                        p {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }

                    .storoge_item_elem:nth-child(2) {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                    }

                    .storage_end {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        min-height: 130px;
                        min-width: 328px;
                        gap: 16px;
                        img {
                           width: 120px;
                           height: 130px;
                        }

                        .item {
                            h5 {
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 20px;
                            }

                            span {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                        .item:nth-child(2) {
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            flex-direction: column;
                            max-width: 208px;
                            min-height: 132px;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}